.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 70px;
    
    z-index: 1000;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    background-color: transparent;

}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}
.myresume{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(270deg, #DF8908 10%, #b415ff 102.06%);
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.myresume:hover{
    background: linear-gradient(267deg, #b415ff 10%, #DF8908 102.06%);
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);
}